.lin-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  //   height: 60rpx;
  //   line-height: 60rpx;
  padding: 10rpx;
  color: #323233;
}

.lin-radio-icon {
  margin-right: 5rpx;
  //   color: #c8c9cc;
}

.lin-radio-label {
  margin-left: 5rpx;
}

.lin-radio-checked {
  .lin-radio-icon-wrapper {
    color: #409eff;
  }
}

.lin-radio-disabled {
  cursor: not-allowed;
  color: #c8c9cc;
  .lin-radio-icon-wrapper {
    color: #c8c9cc;
  }
}
