@import "../../src/style/var.scss";

.lin-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10rpx;
  color: #323233;
}

.lin-radio-icon {
  margin-right: 5rpx;
}

.lin-radio-label {
  margin-left: 5rpx;
}

.lin-radio-checked {
  .lin-radio-icon-wrapper {
    color: $primary;
  }
}

.lin-radio-disabled {
  cursor: not-allowed;
  color: #c8c9cc;
  .lin-radio-icon-wrapper {
    color: #c8c9cc;
  }
}
