@import '../../src/style/var.scss';

.lin-cell-group-title {
  padding: 32rpx 32rpx 16rpx;
  color: $gray-7;
  font-size: 14px;
  line-height: 32rpx;
}

.lin-cell-group-border {
  border: 1px solid $gray-3;
}
