@import "../../src/style/var.scss";

.lin-button {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  border-radius: 2px;
  border: 1px solid $border-color;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;

  background-color: #ffffff;
  color: $font-color;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 30rpx;
  height: 80rpx;
  line-height: 80rpx;
  &::after {
    border: none;
    width: 100%;
    height: 100%;
  }
  &::before {
    width: 100%;
    height: 100%;
  }
  &.lin-button-block {
    display: block;
  }
  &.lin-button-size-medium {
    font-size: 28rpx;
    height: 70rpx;
    line-height: 70rpx;
    &.lin-button-round {
      border-radius: 35rpx;
    }
  }

  &.lin-button-size-small {
    font-size: 20rpx;
    height: 60rpx;
    line-height: 60rpx;
    &.lin-button-round {
      border-radius: 30rpx;
    }
  }
}

.lin-button-default {
  &.lin-button-hover {
    color: $primary;
    border-color: lighten($primary, 10%);
    background-color: lighten($primary, 30%);
  }
}

@each $key, $val in $theme-color {
  .lin-button-#{$key} {
    color: #ffffff;
    background-color: $val;
    border-color: $val;
    &.lin-button-hover {
      background: lighten($val, 10%);
      border-color: lighten($val, 10%);
    }
  }
}

@mixin button-plain($background, $border-color, $color) {
  color: $color;
  background: $background;
  border-color: $border-color;
}

// 朴素的按钮

.lin-button.lin-button-plain {
  &.lin-button-hover {
    @include button-plain(#ffffff, $primary, $primary);
  }
}
@each $key, $val in $theme-color {
  .lin-button-#{$key}.lin-button-plain {
    @include button-plain(lighten($val, 30%), lighten($val, 10%), $val);
    &.lin-button-hover {
      @include button-plain($val, $val, #ffffff);
    }
  }
}

.lin-button.lin-button-round {
  border-radius: 40rpx;
}

.lin-button.lin-button-circle {
  border-radius: 50%;
}

.lin-button-disabled {
  &.lin-button-default {
    background-color: #f5f7fa;
    &.lin-button-hover {
      background-color: darken(#f5f7fa, 5%);
      color: $font-color;
      border-color: $border-color;
    }
  }
}
@each $key, $val in $theme-color {
  .lin-button-disabled {
    &.lin-button-#{$key} {
      background-color: lighten($val, 10%);
      border-color: transparent;
      &.lin-button-hover {
        background-color: lighten($val, 20%);
      }
    }
  }
}

.lin-button-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}
