// @import "./reset.scss";

@import "./base.scss";

@import "./md.scss";

.container {
    @media (min-width: 1680px) {
      .demo-outer-container {
        width: $demo-width-1680px !important;
        .demo-content {
          width: $demo-width-1680px !important;
        }
      }
      .view {
        padding-right: $demo-width-1680px + 20px !important;
      }
    }
    @media (max-width: 1300px) {
      .demo-outer-container {
        width: $demo-width-1300px !important;
        .demo-content {
          width: $demo-width-1300px !important;
        }
      }
      .view {
        padding-right: $demo-width-1300px + 20px !important;
      }
    }
  }
