@import './var.scss';

section {
  color: #3f536e;

  .demo-outer-container {
    position: fixed;
    top: 100px;
    right: 20px;
    width: $demo-width;
    height: 80vh;
    overflow: hidden;

    .demo-content {
      width: $demo-width;
      height: 80vh;
    }

    .demo-image {
      width: 100%;
    }

    .demo-inner-container {
      position: absolute;
      left: 0;
      overflow-x: hidden;
      overflow-y: scroll;

      /* for Chrome */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  hr {
    margin: 1.2em 0;
    border: 0;
    border-bottom: 1px solid #c5d9e8;
  }

  p {
    padding: 0;
    line-height: 1.7;
    color: #3f536e;
    // font-size: 14px;
  }

  h1 {
    // font-size: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 16px 0;
    line-height: 1.5;
  }

  h2 {
    // font-size: 18px;
  }

  ul {
    padding-left: 24px;
    margin: 16px 0;
    list-style: disc;

    li {
      line-height: 1.8;
    }
  }

  pre {
    padding: 16px;
    margin: 16px 0;
    overflow: auto;
    background-color: #f7f7f7;

    code {
      padding: 0;
      background-color: transparent;
      // font-size: 1em;
      border: none;
      border-radius: 0;
    }
  }

  code {
    padding: 0.3em 0.5em;
    // font-size: 0.9em;
    vertical-align: middle;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    border-radius: 2px;
  }

  code.code_inline {
    padding: 0 0.5em;
  }

  img {
    vertical-align: middle;
  }

  p + p {
    margin-top: 8px;
  }

  a {
    color: #6190e8;
  }

  table.table {
    // display: block;
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    color: #5e6d82;
    // font-size: 14px;
    border-collapse: collapse;
    background-color: #fff;
    // line-height: 2em;
    th {
      padding: 10px 8px;
      text-align: left;
      background-color: #fafbfc;
      border-top: 1px solid #f3f7fa;
      border-bottom: 1px solid #f3f7fa;
    }

    td {
      max-width: 300px;
      padding: 10px 8px;
      border-top: 1px solid #f3f7fa;
      border-bottom: 1px solid #f3f7fa;
    }
  }
}
