.lin-collapse-item {
  background-color: #fff;
}

.lin-collapse-item-wrapper {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  will-change: height;
}

.lin-collapse-item-disabled {
  opacity: 0.5;
}

.lin-collapse-item-right-icon-class {
  transition: all 500ms;
}

.lin-collapse-item-expanded {
  .lin-collapse-item-right-icon-class {
    transform: rotate(90deg);
  }
}

.lin-collapse-item-border {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 32rpx;
    right: 32rpx;
    background-color: #ebedf0;
  }
}

.lin-collapse-item-content {
  padding: 24rpx 32rpx;
  color: #969799;
  font-size: 28rpx;
  line-height: 1.5;
  background-color: #fff;
}
