@import "../../src/style/var.scss";

.lin-grid-item {
  position: relative;
  box-sizing: border-box;
  float: left;
}

.lin-grid-item-content {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 32rpx 16rpx;
  background-color: $white;
}

.lin-grid-item-vertical {
  flex-direction: column;
}

.lin-grid-item-horizontal {
  flex-direction: row;
}

.lin-grid-item-text {
  font-size: $font-size-3;
  line-height: 1.5;
  color: $gray-7;
  word-break: break-all;
}

.lin-grid-item-center {
  align-items: center;
  justify-content: center;

  .lin-grid-item-icon {
    display: inline-block;
  }

  .lin-grid-item-text {
    display: inline-block;
  }
}

.lin-border-surround {
  &::after {
    top: -1px;
    left: -1px;
  }
}

.lin-grid-item-square {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.lin-grid-item-icon {
  position: relative;
}
