@import '../../src/style/var.scss';

.lin-field-input {
  flex: 1;
  width: 0;
  margin-right: 10rpx;
  color: $gray-8;
  text-align: left;
}

.lin-cell-title {
  height: 46rpx;
}

.lin-field-input-align-left {
  text-align-last: left;
}

.lin-field-input-align-center {
  text-align: center;
}

.lin-field-input-align-right {
  text-align: right;
}

.lin-field-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lin-field-close-icon {
  width: 40rpx;
  height: 40rpx;
}

.lin-field-disabled {
  color: $gray-5;
}

.lin-field-errorMessage {
  box-sizing: border-box;
  margin-top: 10rpx;
  font-size: $font-size-3;
  color: $red;
  text-align: left;
}
