.lin-field-input {
  text-align: left;
  flex: 1;
  margin-right: 10rpx;
  color: #323233;
  width: 0;
}

.lin-cell-title {
  height: 46rpx;
}

.lin-field-input-align-left {
  text-align-last: left;
}
.lin-field-input-align-center {
  text-align: center;
}
.lin-field-input-align-right {
  text-align: right;
}

.lin-field-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lin-field-close-icon {
  width: 40rpx;
  height: 40rpx;
}

.lin-field-disabled {
  color: #c8c9cc;
}

.lin-field-errorMessage {
  color: #ee0a24;
  font-size: 24rpx;
  text-align: left;
  margin-top: 10rpx;
  box-sizing: border-box;
}
