@import "../../src/style/var.scss";
.lin-stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lin-stepper-button {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  color: $gray-8;
  background-color: $gray-2;
  // cursor: pointer;
}

.lin-stepper-minus {
  border-radius: 4px 0 0 4px;
}

.lin-stepper-plus {
  border-radius: 0 4px 4px 0;
}

.lin-stepper-input {
  box-sizing: border-box;
  margin: 0 2px;
  padding: 0;
  color: $gray-8;
  font-size: 28rpx;
  text-align: center;
  background-color: $gray-2;
}

.lin-stepper-disabled {
  color: $gray-5;
  background-color: $gray-1;
  cursor: not-allowed;
}
