@import "../../src/style/var.scss";

.lin-submit-bar {
  width: 100%;
}

.lin-submit-bar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100rpx;
  padding: 0 32rpx;
  font-size: $font-size-5;
  background-color: $white;
}

.lin-submit-bar-safe {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.lin-submit-bar-text {
  flex: 1;
  padding-right: 24rpx;
  color: $gray-8;
  text-align: right;
}

.lin-submit-bar-price {
  display: inline-block;
  font-size: $font-size-5;
  font-weight: 500;
  color: $red;
}

.lin-submit-bar-integer {
  font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
  font-size: $font-size-11;
}

.lin-submit-bar-icon {
  margin-right: 10rpx;
}

.lin-submit-bar-tip {
  padding: 16rpx 24rpx;
  font-size: $font-size-3;
  line-height: 1.5;
  color: $danger;
  background-color: #fff7cc;
}

.lin-submit-bar-tip-text {
  vertical-align: middle;
}

.lin-submit-bar-button {
  justify-content: center;
  min-width: 156rpx;
}

.lin-submit-bar-suffixLabel {
  margin-left: 10rpx;
}

.lin-submit-bar-currency {
  display: inline-block;
}
