@import "../../src/style/var.scss";
@import "../../src/style/mixins.scss";

.lin-cell {
  background-color: $white;
  padding: 22rpx 32rpx;
  box-sizing: border-box;
  position: relative;
  &::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 32rpx;
    bottom: 0px;
    left: 32rpx;
    border-bottom: 0px solid $gray-3;
  }
  &.lin-cell-large {
    padding-top: 26rpx;
    padding-bottom: 26rpx;
  }
}

.lin-cell-border {
  &::after {
    border-width: 1px;
  }
}

.lin-cell-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $font-size-5;
}

.lin-cell-text {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
}

.lin-cell-title {
  color: $gray-8;
  text-align: left;
  margin-right: 10rpx;
  width: 0;
}

.lin-cell-title-icon {
  margin-right: 10rpx;
}

.lin-cell-value {
  color:$gray-7;
  text-align: right;
  margin-left: 10rpx;
  flex: 1;
}

.lin-cell-value-icon {
  margin-left: 10rpx;
}

.lin-cell-content {
  color:$gray-7;
  font-size: $font-size-3;
  margin-top: 10rpx;
}

.lin-cell-required {
  &::before {
    content: "*";
    position: absolute;
    left: 8px;
    color: $red;
    font-size: $font-size-5;
  }
}

.lin-cell-item-value {
  text-align: right;
  flex: 1;
}
