@import "../../src/style/var.scss";

.lin-cell {
  position: relative;
  box-sizing: border-box;
  padding: 22rpx 32rpx;
  background-color: $white;

  &::after {
    position: absolute;
    right: 32rpx;
    bottom: 0;
    left: 32rpx;
    box-sizing: border-box;
    pointer-events: none;
    content: " ";
    border-bottom: 0 solid $gray-3;
  }

  &.lin-cell-large {
    padding-top: 26rpx;
    padding-bottom: 26rpx;
  }
}

.lin-cell-border {
  &::after {
    border-width: 1px;
  }
}

.lin-cell-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $font-size-5;
}

.lin-cell-text {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
}

.lin-cell-title {
  width: 0;
  margin-right: 10rpx;
  color: $gray-8;
  text-align: left;
}

.lin-cell-title-icon {
  margin-right: 10rpx;
}

.lin-cell-value {
  flex: 1;
  margin-left: 10rpx;
  color: $gray-7;
  text-align: right;
}

.lin-cell-value-icon {
  margin-left: 10rpx;
}

.lin-cell-content {
  margin-top: 10rpx;
  font-size: $font-size-3;
  color: $gray-7;
}

.lin-cell-required {
  &::before {
    position: absolute;
    left: 8px;
    font-size: $font-size-5;
    color: $red;
    content: "*";
  }
}

.lin-cell-item-value {
  flex: 1;
  text-align: right;
}
