@import "../../src/style/var.scss";

@keyframes roating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lin-loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.lin-loading-row {
  flex-direction: row;
  .lin-loading-text {
    margin-left: 5px;
  }
}
.lin-loading-col {
  flex-direction: column;
  .lin-loading-text {
    margin-top: 5px;
  }
}

.lin-loading-spinner {
  width: 16px;
  height: 16px;
  border-width: 1px;
  border-style: solid;
  border-left-color: transparent;
  border-radius: 50%;
  animation: roating 700ms linear infinite;
}

@each $key, $val in $theme-color {
  .lin-loading-#{$key} {
    border-right-color: $val;
    border-top-color: $val;
    border-bottom-color: $val;
  }
}

.lin-loading-text {
  padding: 0;
  margin: 0;
  font-size: $font-size-7;
}
