
.component-page-class{
    @media (min-width: 1200px){
        .theme-default-content:not(.custom){
            margin: 0;
            padding: 2rem;
            // max-width: 670px;
            max-width:unset;
            padding-right: 370px;
            .demo-image-container{
                display: block;
            }
        }
        .page-edit{
            max-width:unset;
            padding-right: 370px;
            margin: 0;
        }
        .page-nav{
            max-width:unset;
            padding-right: 370px;
            margin: 0;
        }
    }

    .custom-block.details{
        padding: 1em 1.6em;
    }
}

