@import "../../src/style/var.scss";

.lin-skeleton {
  display: flex;
  flex-direction: row;
  padding: 0 32rpx;
}

.lin-skeleton-slot {
  padding: 0 32rpx;
}

.lin-skeleton-avatar {
  width: 64rpx;
  height: 64rpx;
  margin-right: 32rpx;
  background-color: $gray-5;
}

.lin-skeleton-avatar-round {
  border-radius: 50%;
}

.lin-skeleton-content {
  flex: 1;
}

.lin-skeleton-title {
  width: 40%;
  height: 32rpx;
  background-color: $gray-5;
}

.lin-skeleton-row {
  height: 32rpx;
  margin-top: 40rpx;
  background-color: $gray-5;
}

.lin-skeleton-animate {
  animation: skeleton-opacity 3s ease-in-out infinite;
}

@keyframes skeleton-opacity {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.95;
  }
}
