@import '../../src/style/var.scss';

.lin-notify-container{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.lin-notify{
    box-sizing: border-box;
    padding: 12rpx 30rpx;
    text-align: center;
    font-size: $font-size-5;
    line-height: 40rpx;
}

@each $key,$val in $theme-color {
    .lin-notify-#{$key}{
        background-color: $val;
    }
}
