@import "../../src/style/var.scss";

.lin-border-top {
  position: relative;
  &::before {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    height: 1px;
    background-color: $gray-3;
  }
  &-hairline {
    &::before {
      transform: scaleY(0.5);
    }
  }
}

.lin-border-bottom {
  position: relative;
  &::after {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    height: 1px;
    background-color: $gray-3;
  }
  &-hairline {
    &::after {
      transform: scaleY(0.5);
    }
  }
}

.lin-border-surround {
  position: relative;
  &::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $gray-3;
  }
  &-hairline {
    transform: scale(0.5);
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
  }
}

.one-line {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lin-info {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  min-width: 32rpx;
  padding: 0 6rpx;
  color: $white;
  font-weight: 500;
  font-size: $font-size-3;
  line-height: 1.2;
  text-align: center;
  background-color: $red;
  border: 1px solid $white;
  border-radius: 32rpx;
  transform: translate(50%, -50%);
  transform-origin: 100%;
}

.lin-info-dot {
  width: 16rpx;
  min-width: 0;
  height: 16rpx;
  background-color: $red;
  border-radius: 100%;
}

.lin-clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
