@import '../../src/style/var.scss';

.lin-border-top{
    position: relative;
    &::before{
        top: 0;
        position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 1px;
    background-color: $gray-3;
    }
    &-hairline{
        &::before{
            transform: scaleY(0.5);
        }
    }
}

.lin-border-bottom{
    position: relative;
    &::after{
        bottom: 0;
        position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 1px;
    background-color: $gray-3;
    }
    &-hairline{
        &::after{
            transform: scaleY(0.5);
        }
    }
}