@import '../../src/style/var.scss';

.lin-dropdown-item-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.lin-dropdown-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20rpx 32rpx;
  overflow: hidden;
  font-size: $font-size-5;
  line-height: 48rpx;
  color: $gray-8;
  background-color: $white;

  & + .lin-dropdown-item {
    &::before {
      position: absolute;
      top: 0;
      right: 32rpx;
      left: 32rpx;
      box-sizing: border-box;
      pointer-events: none;
      content: " ";
      border-bottom: 1px solid $gray-3;
    }
  }
}

.lin-dropdown-item-disabled {
  opacity: 0.5;
}

.lin-dropdown-item-active {
  color: $red;
}

.lin-dropdown-item-icon {
  height: 48rpx;
}
