
@import '../../src/style/var.scss';

.lin-action-sheet {
  box-sizing: border-box;
  background-color: $gray-1;
}

.lin-action-sheet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 28rpx 32rpx;
  font-size: $font-size-7;
  line-height: 44rpx;
  background-color: $white;

  &::after {
    border: none;
  }
}

.lin-action-sheet-subname {
  margin-top: 16rpx;
  font-size: $font-size-3;
  color: $gray-6;
}

.lin-action-sheet-cancelText {
  padding: 28rpx 32rpx;
  margin-top: 16rpx;
  font-size: $font-size-7;
  line-height: 44rpx;
  color: $gray-7;
  text-align: center;
  background-color: $white;
}

.lin-action-sheet-description {
  position: relative;
  flex-shrink: 0;
  padding: 40rpx 32rpx;
  font-size: $font-size-5;
  line-height: 40rpx;
  color: $gray-6;
  text-align: center;
  background-color: $white;
}

.lin-action-sheet-disabled {
  color: $gray-5;
}

.lin-action-sheet-title {
  position: relative;
  font-size: $font-size-7;
  font-weight: 500;
  line-height: 96rpx;
  text-align: center;
  background-color: $white;
  border-bottom: 1px solid $gray-3;
}

.lin-action-sheet-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px;
}

.lin-action-sheet-button-hover {
  background-color: $gray-2;
}

.lin-action-sheet-cancelText-hover {
  background-color: $gray-2;
}
