@import "../../src/style/var.scss";

.lin-calendar {
  padding: 0 40rpx 40rpx;
  color: $font-color-dark;
  background-color: #ffffff;
}

.lin-calendar-button-group {
  padding-top: 20rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.lin-calendar-button {
  flex: 1;
}

.lin-calendar-title {
  height: 88rpx;
  line-height: 88rpx;
  text-align: center;
  font-size: 34rpx;
}

.lin-calendar-leftarrow {
  margin-right: 20rpx;
}

.lin-calendar-rightarrow {
  margin-left: 20rpx;
}

.lin-calendar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  font-size: 34rpx;
}

.lin-calendar-date {
  flex: 1;
  text-align: center;
}

.lin-calendar-panel {
  display: flex;
  flex-direction: row;
}

.lin-calendar-panel-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15rpx;
  margin: 5rpx;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  font-size: $font-size-normal;
}

.lin-calendar-not-current-month {
  color: $disabled-font-color;
}

.lin-calendar-disabled {
  cursor: not-allowed;
  background-color: $disabled-background-color;
  border-color: $disabled-background-color;
  color: $disabled-font-color;
}

.lin-calendar-selected {
  background-color: $primary;
  color: #fff;
  border-radius: 8rpx;
}
