.lin-dialog {
  //   width: 90%;
  overflow: hidden;
  font-size: 32rpx;
  background-color: #fff;
  border-radius: 32rpx;
}

.lin-dialog-header {
  padding-top: 52rpx;
  font-weight: 500;
  line-height: 48rpx;
  text-align: center;
}

.lin-dialog-content {
}

.lin-dialog-message {
  max-height: 60vh;
  padding: 52rpx 48rpx;
  overflow-y: auto;
  font-size: 28rpx;
  line-height: 40rpx;
  //   white-space: pre-wrap;
}

.lin-dialog-center {
  text-align: center;
}

.lin-dialog-left {
  text-align: left;
}

.lin-dialog-right {
  text-align: right;
}

.lin-dialog-message-hastitle {
  padding-top: 8px;
  color: #646566;
}

.lin-dialog-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  //   border-top: 1px solid #000;
}

.lin-dialog-confirm {
  //   color: #ee0a24;
}

.lin-dialog-button {
  flex: 1;
  font-size: 32rpx;
  background-color: #fff;
  height: 96rpx;
  border-top: 1px solid #ebedf0;
  &::after {
    border: none;
  }
}
