@import "../../src/style/var.scss";

.lin-dialog {
  overflow: hidden;
  font-size: $font-size-7;
  background-color: $white;
  border-radius: 32rpx;
}

.lin-dialog-header {
  padding-top: 52rpx;
  font-weight: 500;
  line-height: 48rpx;
  text-align: center;
}

.lin-dialog-message {
  max-height: 60vh;
  padding: 52rpx 48rpx;
  overflow-y: auto;
  font-size: $font-size-5;
  line-height: 40rpx;
}

.lin-dialog-center {
  text-align: center;
}

.lin-dialog-left {
  text-align: left;
}

.lin-dialog-right {
  text-align: right;
}

.lin-dialog-message-hastitle {
  padding-top: 8px;
  color: $gray-7;
}

.lin-dialog-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lin-dialog-button {
  flex: 1;
  font-size: $font-size-7;
  background-color: $white;
  height: 96rpx;
  border-top: 1px solid $gray-3;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &::after {
    border: none;
  }
}

.lin-dialog-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lin-dialog-button-border {
  border-left: 1px solid $gray-3;
}

.lin-dialog-round-button {
  .lin-dialog-footer {
    padding: 16rpx 48rpx 32rpx;
  }
}

.lin-dialog-button-round-button {
  border-radius: 9999px;
  border: 1px solid $gray-3;
}

.lin-dialog-cancel {
  color: #323233;
}

.lin-dialog-confirm {
  color: $red;
}
