$primary: #409eff !default;
$success: #67c23a !default;
$info: #909399 !default;
$warning: #e6a23c !default;
$danger: #f56c6c !default;

$red:#ee0a24 !default;
$black: #000 !default;
$white: #fff !default;
$gray-1: #f7f8fa !default;
$gray-2: #f2f3f5 !default;
$gray-3: #ebedf0 !default;
$gray-4: #dcdee0 !default;
$gray-5: #c8c9cc !default;
$gray-6: #969799 !default;
$gray-7: #646566 !default;
$gray-8: #323233 !default;

$theme-color: (
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

$theme: $primary;

$font-size-1:20rpx !default;
$font-size-2:22rpx !default;
$font-size-3:24rpx !default;
$font-size-4:26rpx !default;
$font-size-5:28rpx !default;
$font-size-6:30rpx !default;
$font-size-7:32rpx !default;
$font-size-8:34rpx !default;
$font-size-9:36rpx !default;
$font-size-10:38rpx !default;
$font-size-11:40rpx !default;
