.lin-goods-action-button {
  border-radius: 0px !important;
  width: 100%;
  justify-content: center;
}

.lin-goods-action-button-first {
  border-top-left-radius: 999px !important;
  border-bottom-left-radius: 999px !important;
  // margin-left: 10px !important;
}

.lin-goods-action-button-last {
  border-top-right-radius: 999px !important;
  border-bottom-right-radius: 999px !important;
  // margin-right: 10px !important;
}
