@import "../../src/style/mixins.scss";
@import '../../src/style/var.scss';

.lin-picker {
  position: relative;
}

.lin-picker-column-container {
  position: relative;
}

.lin-picker-frame {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  pointer-events: none;
  box-sizing: border-box;
  border-top: 1px solid $gray-3;
  border-bottom: 1px solid $gray-3;
}

.lin-picker-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.9),
      hsla(0, 0%, 100%, 0.4)
    ),
    linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4));
  background-repeat: no-repeat;
  background-position: top, bottom;
  transform: translateZ(0);
  pointer-events: none;
}

.lin-picker-toolbar {
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
}

.lin-picker-cancel {
  height: 100%;
  padding: 0 16px;
  font-size: 14px;
  cursor: grab;
  color: $gray-6;
  line-height: 44px;
}

.lin-picker-title {
  max-width: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  @include one-line();
}

.lin-picker-confirm {
  height: 100%;
  padding: 0 16px;
  font-size: 14px;
  cursor: grab;
  color: $gray-7;
  line-height: 44px;
}

.lin-picker-column-wrapper {
  display: flex;
  flex-direction: row;
  .lin-picker-column {
    flex: 1;
  }
}

.lin-picker-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
}
