.lin-swipe-cell {
  overflow: hidden;
}

.lin-swipe-cell-container {
  position: relative;
}

.lin-swipe-cell-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
}

.lin-swipe-cell-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
}
