@import "../../src/style/var.scss";
.lin-search {
  box-sizing: border-box;
  padding: 10px 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  .lin-search-value-class {
    margin-left: 0;
  }
}

.lin-search-wrapper {
  padding-left: 12px;
  background-color: $background-color;
  border-radius: 2px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lin-search-field {
  flex: 1;
}

.lin-search-label {
  margin-right: 20rpx;
  color: $font-color-dark;
  font-size: $font-size-small;
}

.lin-search-action {
  padding: 16rpx 16rpx;
  color: $font-color-dark;
  font-size: $font-size-small;
  // cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.lin-search-round {
  border-radius: 9999rpx;
}

.lin-search-header-class {
  align-items: center;
}

.lin-search-action-hover {
  background-color: $background-color;
}
